root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
ij_go_add_leading_space_to_comments = true

[{*.yaml,*.yml}]
ij_yaml_spaces_within_brackets = false
