[Unit]
Description=RPI Violet
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rpi-violet run --config="/etc/rpi-violet.toml"
Restart=always
RestartSec=5s
Environment=

[Install]
WantedBy=multi-user.target
